<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feitian.forum.mapper.CommentMapper">
    <resultMap id="CommentExtendMap" type="com.feitian.forum.domain.Comment" extends="BaseResultMap">

    </resultMap>

    <select id="getThumbCs" resultType="java.lang.Integer">
        select count(*)
        from public."ThumbC"
        where public."ThumbC".comment_id =#{commentId};
    </select>

    <select id="getCommentsOfTopic" resultMap="CommentExtendMap">
        select *
        from public."Comment"
        where public."Comment".topic_id= #{topicId} and public."Comment".is_deleted = false;
    </select>

</mapper>